<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ylean.mmspd">


    <permission
        android:name="com.ylean.mmspd.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.ylean.mmspd.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SENSOR_INFO" />
    <uses-permission android:name="android.permission.SENSOR_ENABLE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.TagActivity"  android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan|stateHidden"  android:launchMode="singleTask"/>
        <activity android:name=".activity.ForgetPwdActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.solve.SolveActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.order.OrderManagerActivity"  android:screenOrientation="portrait"  android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.store.StoreManagerActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.UserInfoActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.store.GoodRankingActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.store.SystemNewActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.store.BusinessTotalActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.store.CommentsActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.store.AccoundDetailsActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.StoreStatusActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.StoreInfoActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.FeedBackActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.AccountActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.EditPwdActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.store.ReportActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.order.OrderDetailsActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.store.ShowImgActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.store.PlayVideoActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.CustomerWebView"  android:screenOrientation="portrait"/>

        <!-- 极光推送的配置-->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 3.0.9 Required SDK 核心功能-->
        <provider
            android:authorities="com.ylean.mmspd.DataProvider"
            android:name="cn.jpush.android.service.DataProvider"
            android:process=":pushcore"
            android:exported="false"/>

        <!-- since 3.1.0 Required SDK 核心功能-->
        <provider
            android:authorities="com.ylean.mmspd.DownloadProvider"
            android:name="cn.jpush.android.service.DownloadProvider"
            android:exported="true"/>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.ylean.mmspd" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".receiver.MyReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.ylean.mmspd" />
            </intent-filter>
        </receiver>

        <service android:name=".receiver.PushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>


        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".receiver.MyJPushMessageReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.ylean.mmspd" />
            </intent-filter>
        </receiver>
        
    </application>

</manifest>